<!DOCTYPE html>
<html>
<style>
li {
  margin: 20px 0;
}
.buttonClear {
  margin-right: 10px;
}
form {
  margin-top: 10px;
}
fieldset {
  width: 50%;
}
.text {
  width: 99%;
}
</style>
<body>
<h2>Youtube links</h2>
<ul id="list" style="list-style-type:none;">
  {{range $id, $val := .}}
  <li id="{{$id}}">
    <input type="button" class="buttonClear" value="x" name="{{$id}}" onclick="deleteItem(this)">
    <a href="{{$val.Link}}">{{$val.Text}}</a>
  </li>
  {{end}}

</ul> 

<form onsubmit="return formCreate(this)">
  <fieldset>
    <legend>Add link</legend>
    <label for="fname">Name:</label><br>
    <input type="text" class="text" id="fname" name="fname"><br>

    <label for="flink">Link:</label><br>
    <input type="text" class="text" id="flink" name="flink"><br><br>

    <input type="submit" value="Add Link">
  </fieldset>
</form>

</body>

<script>
function deleteItem(button){
  let id=button.name
  fetch(`/links/${id}`, {method: "DELETE"}).then(response => {
    if (response.status == 204) {
      document.getElementById(id).remove();
    }
  })
}

function formCreate(form) {
  let fname = form.elements["fname"];
  let flink = form.elements["flink"];

  if (fname.value != "" && flink.value != "") {
    data = JSON.stringify({link: flink.value, text:fname.value})
    fetch("/links", {method: "POST", body: data})
      .then(response => {
        if (response.status == 201) {
          return response.json();
        } else {
          alert("error on link");
        }
      })
      .then(body => {
        // create item
        let list = document.getElementById("list");
        let item = list.lastElementChild.cloneNode(true);
        // update
        item.id = body.id;
        childs = item.children;
        //   button
        item.children[0].name=body.id;
        //   link
        item.children[1].href=body.link;
        item.children[1].textContent=fname.value;
        // add item
        list.appendChild(item);
        // clean form
        fname.value = "";
        flink.value = "";
      })

  }
  // Prevents form from submitting & refreshing the page
  return false;
}
</script>
</html>
