<!DOCTYPE html>
<html>
<style>
li {
  margin: 20px 0;
}
</style>

<body>

<h2>Youtube links</h2>
<ul style="list-style-type:none;">
  {{range $id, $val := .}}
  <li>
    <a id="{{$id}}" href="{{$val.Link}}">
      {{$val.Text}}
    </a>
  </li>
  {{end}}

</ul> 
<!-- <li><a href="https://www.youtube.com/embed/CODE?vq=hd720&start=0">text</a></li> -->

</body>
</html>
